@import
url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Playfair+Display&family=Poppins:wght@300&family=Roboto+Slab:wght@500&family=Supermercado+One&display=swap");




#first{
    height: 36px;
    width:100%;
    display: flex;
}

#first>div>img{
    height: 80%;
    width: 40%;
    margin-top: 3px;
}
#first1{
    height: 99%;
    width: 10%;
    background-color: #0076bd;
    text-align: center;
    align-items: center;
    padding: auto;
}
#first2{
    height: 95%;
    width: 10%;
    background-color: white;
    border: 1px solid rgb(179, 177, 177);
    text-align: center;
    align-items: center;
    padding: auto;
}
#first3{
    height: 100%;
    width:80%;
    background-color: white;
}
#sec{
    height: 34px;
    width:100%;
    display: flex;
    align-items: center;
    text-align: center;  
    background-color: #0076bd;
}
#sec1{
    height: 100%;
    width:17%;
   
    
}
#sec1>#Customer{
    background-color: #0076bd;
    height: 100%;
    width: 80%;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: 0px ;
    
}
#sec2{
    height: 100%;
    width:83%;
    font-size: 18px;
    color: white;
    text-align: right;
    margin-top: 14px;
    padding-right: 25px;   
}
#third{
    height: 90px;
    width: 100%;
    display: flex;
}
#third1{
    height: 100%;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#third1>img{
    height: 75%;
    width: 70%;
    
}
#third2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
}
#third2>#search{
    height: 40%;
    width: 80%;
    font-size: 18px;
    padding-left: 2%;
    border: 1px solid rgb(165, 163, 163);
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}
#third2>#search1{
    height: 47%;
    width: 15%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #003953;
}
#third3{
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23%;
}
#third3>input{
    height: 50%;
    width: 72%;
    background-color: white;
    border: 1px solid rgb(5, 226, 5);
    border-radius: 10%;
    font-weight: bold;
}
#third3>input:hover{
    background-color:rgb(187, 247, 187);
}
#menu{
    height: 46px;
    width: 100%;
    background-color: rgb(241, 238, 238);
    display: flex;
}
#menu1{
    height: 96%;
    width: 60%;

    display: flex;
    
}
#menu1>div{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
    border: 0px;
}
#menu1>div>select{
    height: 40px;
    width: auto;
    font-size: 18px;
    font-weight: bold;
    background-color:  rgb(241, 238, 238);
    border: 0px;
    color: #003953;
}
#new1{
     padding-left: 2%;
}
#sign{
    height: 96%;
    width: 12%;
    font-size: 18px;
    margin-left: 24%;
    color: #003953;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider{
    height: 35px;
    width: 100%;
    background-color:#E5F1F8;
}

#container
{
    margin-left: 24px;
    font-size: 30px;
    padding: 0px 12px;
    color: #1F1F1F;
    font-family: 'Open Sans', sans-serif; 


}
#moving {
    position: relative;
    width: 3200px;
    animation-name: slideranimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}
#box
{
    width: 100%;
    overflow: hidden;

}
#moving img{
    float: left;
}
.image
{
    height: 350px;
    width: 50%;

}
@keyframes slideranimation 
{
    0%
    {
        left: 0px;

    }
    20%
    {
        left:0px;

    }
    25%
    {
        left: -1600px;

    }
    45%
    {
        left: -1600px;

    }
    50%
    {
        left: -1600px;

    }
    70%
    {
        left: -1600px;

    }
    75%
    {
        left: -4800px;

    }
}

#bay{
    display: flex;
}
#bay p
{
    margin: 7px;
    color: black;
    margin-top: 45px;

}
#bay a{
    text-decoration: none;
    color: teal;
    
}
#cat
{
    margin-left: 650px ;
    margin-top: 30px;
    margin-right: 20px;
    height: 40px;
    width: auto;
    font-size: 15px;
    font-weight: bold;
    
    border: 0px;
    color: black;

}
.ghh
{
    height: 40px;
    width: auto;
    font-size: 15px;
    font-weight: bold;

    border: 0px;
    color: black;
    margin-top: 30px;
    margin-right: 20px;



}
.ghh:hover
{
    color: red;
    cursor: pointer;
}
#cat:hover
{
    color: red;
    cursor: pointer;

}

#container2{
    display: flex;
    width: 100%;
    
    height: auto;
    
}
.name1{
    width: 15%;
    
    margin: auto;
    margin-top: -1px;
    height: auto;

    
}
.kkl{
    height: 120px;
    width: 140px;
    margin-left: 30px;
    margin-top: 30px;
    
    
    
    


}
.name2
{
    margin: auto;
    
    height: 200px;
    /* background-color: rgba(0,0,0,.04); */
    content: "";

    

}
.jjk{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family:'Open Sans', sans-serif ;
    color: #1F1F1F;
    cursor: pointer;
}
.jjk:hover{
    color: gray;
}
#container3{
    margin-top: 40px;
    width: 100%;
}
#cont4{
 height: 260px;
 width: 23%;
 margin-left: 10px;
 position: absolute;
 margin-top: 100px;
 background-color: white;
}
#word
{
    font-size: 24px;
    font-weight: bold;
    font-family:'Open Sans', sans-serif;

    line-height: 30px;
    text-align: justify;

}
#word1
{
    font-size: 18px;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: auto;

}
#id{
    margin-left: 20px;
    margin-right: 20px;
    


}
#id2{
    margin-left: 12px;
    margin-right: 12px;

}
#cont5
{
    width: 85%;
    margin: auto;
    height: 35px;

    margin-top: 27px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
    

}
#cont5 p{
    margin-top: 7px;

}
#cont5 a{
    text-decoration: none;
    padding-left: 22px;
    
    color: black;
    font-size: 16px;
    

}
#cont5:hover{
    background-color: #1F1F1F;
    
}
#cont5 a:hover{
    color: white;

}
#container11
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    margin-top: 80px;
    

}
.box12
{
    width: 33%;
    cursor: pointer;
    
    
    margin: auto;




}
.II
{
    width: 95%;
    height: 350px;
    margin: auto;
    cursor: pointer;
    

}
.poo
{
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    
    font-family: 'Open Sans', sans-serif;
}
.para
{
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    line-height: 13px;


}
.box12 a{
    text-decoration: none;
    text-decoration: underline;
    color: #1F1F1F;
    font-weight: bold;
}
#img123{
    height: 20%;
    width: 60%;
    margin-left: 500px;
    margin-top: 90px;
}
#cont6
{
    height: 200px;
    width: 28%;
    margin-top: -420px;
    margin-left: 30px;
    


}
#cont6 a{
    text-decoration: none;
    color: #1F1F1F;
    padding-bottom: 3px;
}
#word3
{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif ;

}
#word4
{
    font-size: 16px;
    font-weight: bold;
    font-family:'Open Sans', sans-serif ;



}
#nj 
{
    height: 40px;
    width: 80%;
    
    border: 2px solid black;
    border-radius: 5px;

}
#nj > p
{
    margin-left: 28px;
    margin-top: 7px;
    font-size: 18px;
    

}
#nj:hover{
    background-color: #1F1F1F;
    
}
#nj a:hover{
    color: white;

}
#container12
{
    margin-top: 300px;
    display: flex;
    margin-left: 400px;
    justify-content: space-between;
    
    height: auto;
    width: 70%;

}
.box100
{
    height: auto;
    width: 30%;
    

}
.box99
{
    height: 200px;
    width: 100%;
    

}
.img456
{
    margin: auto;
    width: 80%;
    margin-top: 50px;
    margin-left: 35px;
    background-color: rgb(66, 64, 64);


}
.lalu
{
    font-family:'Open Sans', sans-serif ;
    text-decoration: none;
    color: #1F1F1F;

    
    line-height: 10px;
    font-weight: bold;

}
.lalu:hover{
    color: rgb(112, 112, 228);
    text-decoration: underline;
}
.para123
{
    margin-left: 10px;
    font-size: 20px;

}
.ppk
{
    color: #1F1F1F;
    
    line-height: 10px;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;



}
.lalu:hover
{
    cursor: pointer;

}
#cont78
{
    height: 150px;
    width: 20%;
    margin-top: -220px;
    margin-left: 40px;
    

}
#word5
{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif ;

}
#cont89 a
{
    text-decoration: none;
    color: black;

}
#cont89
{
    height: 40px;
    width: 80%;
    
    border: 2px solid black;
    border-radius: 5px;

}
#cont89 p
{
    margin-left: 45px;
    margin-top: 12px;
    font-size: 18px;
    


}
#cont89 a:hover
{
    
    color: white;

}
#cont89:hover{
    background-color: #1F1F1F;

}
#headss
{
    margin-top: 120px;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif ;


}
#container100
{
    display: flex;
    margin-top: 30px;
    height: 400px;
    width: 100%;
    

}
.class1
{
    height: auto;
    width: 18%;

}
.img90
{
    width: 100%;
    margin-top: 70px;
    

    
}
.class2
{
    height: 50%;
    width: 100%;
    

    

}
.para09
{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif ;
    
    margin: auto;
    text-align: center;


}
.aas
{
    text-decoration: none;
    color: #1F1F1F;

}
.aas:hover
{
    color: grey;
    text-decoration: underline;

}
#id45
{
    font-family: 'Open Sans', sans-serif ;
    font-size: 20px;
    margin-left: 30px;
    margin-top: -30px;

}
.para5
{
    font-family: 'Open Sans', sans-serif ;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 15px;

    text-align: justify;
    
    

}
























