#first{
    height: 36px;
    width:100%;
    display: flex;
}

#first>div>img{
    height: 80%;
    width: 40%;
    margin-top: 3px;
}
#first1{
    height: 99%;
    width: 10%;
    background-color: #0076bd;
    text-align: center;
    align-items: center;
    padding: auto;
}
#first2{
    height: 95%;
    width: 10%;
    background-color: white;
    border: 1px solid rgb(179, 177, 177);
    text-align: center;
    align-items: center;
    padding: auto;
}
#first3{
    height: 100%;
    width:80%;
    background-color: white;
}
#sec{
    height: 34px;
    width:100%;
    display: flex;
    align-items: center;
    text-align: center;  
    background-color: #0076bd;
}
#sec1{
    height: 100%;
    width:17%;
   
    
}
#sec1>#Customer{
    background-color: #0076bd;
    height: 100%;
    width: 80%;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: 0px ;
    
}
#sec2{
    height: 100%;
    width:83%;
    font-size: 18px;
    color: white;
    text-align: right;
    margin-top: 14px;
    padding-right: 25px;   
}
#third{
    height: 90px;
    width: 100%;
    display: flex;
}
#third1{
    height: 100%;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#third1>img{
    height: 75%;
    width: 70%;
    
}
#third2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
}
#third2>#search{
    height: 40%;
    width: 80%;
    font-size: 18px;
    padding-left: 2%;
    border: 1px solid rgb(165, 163, 163);
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}
#third2>#search1{
    height: 47%;
    width: 15%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #003953;
}
#third3{
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23%;
}
#third3>input{
    height: 50%;
    width: 72%;
    background-color: white;
    border: 1px solid rgb(5, 226, 5);
    border-radius: 10%;
    font-weight: bold;
}
#third3>input:hover{
    background-color:rgb(187, 247, 187);
}
#menu{
    height: 46px;
    width: 100%;
    background-color: rgb(241, 238, 238);
    display: flex;
}
#menu1{
    height: 96%;
    width: 60%;

    display: flex;
    
}
#menu1>div{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 13px;
    border: 0px;
}
#menu1>div>select{
    height: 40px;
    width: auto;
    font-size: 18px;
    font-weight: bold;
    background-color:  rgb(241, 238, 238);
    border: 0px;
    color: #003953;
}
#new1{
     padding-left: 2%;
}
#sign{
    height: 96%;
    width: 12%;
    font-size: 18px;
    margin-left: 24%;
    color: #003953;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider{
    height: 35px;
    width: 100%;
    background-color:#E5F1F8;
}
/*END*/
/*START*/
/*------------------------------------------------FOOTER START--------------------------------------------------------------*/
#make{
    height: 130px;
    width: 100%;
    background-color: #022c3f;
    margin-top: 4%;
}
#make>#email{
    height: 24%;
    width: 14%;
    margin-left: 2%;
    margin-top: -1%;
    padding-left: 1%;
    font-size: 17px;
}
#happy{
    color: white;
    font:21px "Open Sans",sans-serif ;
    margin-left: 2%;
    padding-top: 1%;
}
#sad{
    color: white;
    font:15px "Open Sans",sans-serif ;
    margin-left: 2%;
}
#make>#today{
    height: 30%;
    width: 14%;
    margin-left: 1%;
    margin-top: -1%;
    font-size: 15px;
    font-weight: bold;
    background-color: #022c3f;
    color: white;
    border: 1px solid white;
}
/*START LAST*/
#last{
    height: 630px;
    width: 100%;
    background-color: #003953;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100%;
    grid-template-areas: "list1 list2 list3 list4";

}
#last>:nth-child(1){
    grid-area: list1;
}
#last>:nth-child(2){
    grid-area: list2;
}
#last>:nth-child(3){
    grid-area: list3;
}
#last>:nth-child(4){
    grid-area: list4;
}
#last>div>div{
    margin-left: 6%;
    color: white;
}
#last>div>div>h3{
    font:19px "Open Sans",sans-serif ;
    
}
.eye>p{
    margin-top: -1%;
    font:14px "Open Sans",sans-serif ;
}
#voice{
    height: 180px;
    width: 87%;
    padding-top: 1%;
    margin-top: 6%;
    border-radius: 5%;
    background-color:#044a75;
    
}
#voice>h3{
    margin-left: 4%;
    font:19px "Open Sans",sans-serif ;
}
#voice>p{
    margin-left: 4%;
    font:14px "Open Sans",sans-serif ;
}
#take{
    height: 20%;
    width: 60%;
    border: 1px solid white;
    background-color: #044a75;
    color: white;
    margin-left: 4%;
    border-radius: 5%;
}
#end{
   margin-top: -16px;
    height: 100px;
    width: 100%;
    background-color: #003953;
    color: white;
}
#end>p{
    margin-top: 1%;
    margin-left: 15px;
}




